@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

:root {
  font-family: 'PT Mono', monospace, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clickable {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-700 cursor-pointer transition-colors duration-200 hover:border-[#646cff] min-w-[100px];
}
